.under {
  background: linear-gradient(transparent 70%, #ffd700 30%);
  font-weight: 700;
}
.wf-mplus1p { font-family: "Mplus 1p"; }

.title{font-size: 28px;}


/*.img-title{
	margin-right: ($spacer * .25)
}
*/

.menu-btn{
	background-color: black;
	color: white;
}

.smaller{
	font-size:40px;
}

.bigger{
	font-size:80px ;
}

body {
	font-family: 'Noto Sans JP', sans-serif;
	/*background-color: #fff000*/;
}

.backcontainer{
	background-color: #d3d3d3;
}

.backcontaineranswer{
	background-color: #ffd700;
}

.submit-btn{
	background-color: #ffd700;
	font-size: 25px;
}

/*.border-top{
	border-width:5px;
}*/


/*.topimg{
	background-color: #ffd700;
}*/